.home{
    margin: 0;
    display: flex;
    flex-direction: row;
    /* background-color: rebeccapurple; */
}
.sidebar{
    width: 21%;
    box-sizing: border-box;
    height: 100vh;
    margin:0;
    display: flex;
    flex-direction: column;
    /* background-color: #eee; */
}
.sidebar-sub{
    /* text-align: center; */
    padding-left: 40%;
}
.sidebar-top{
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    /* border: 1px solid #e0e0e0; */
    /* background-color: rebeccapurple; */
}
.sidebar-top>span{
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sidebar-line{
    display: flex;
    height: 40px;
    align-items: center;
    font-size: 100%;
    padding: 30px 30px 0px 40px;
}
.sidebar-line>svg{
    width: 50px;

}
.icon{
    font-weight: bold;
    height: 30px;
}
.iconr{
    /* font-weight: bold; */
    height: 30px;
    transform: rotateZ(90deg);
}
.sidebar-line:hover{
    cursor: pointer;
    color: rgb(196, 65, 65);
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #efefef;

}

.topbar{
    height: 80px;
    width: 83%;
    position: fixed;
    background-color: rebeccapurple;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.topbar-right{
    margin-right:5%;
    align-items: center;
    float: right;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    height: 50px;
    list-style-type: none;
}
.topbar-right>li{
    padding-left: 30px;
    color: white;
    width: 100px;
    width: 100%;
    float: right;
}
.topbar-right>li>select{
    width: 80px;
    margin-left: 500px;
    height: 30px;
    float: right;
} 

img{
    border-radius: 100%;
    height:40px;
    width: 40px;
    float: right;
}
