/* .bidding-form{
  margin:auto;
  width: 600px;
  border: 1px solid black;
}
.bidding-form>input{
  width: 80%;
  height: 35px;
}
.bidding-form>button{
  width: 19.33%;
  height: 41px;
} */
.pages{
  padding-top: 40px;
}
.chat{
  /* height: 500px;
  width: 600px;
  overflow-y: scroll;
  border: 1px solid red;
  align-items: center;
  margin:auto; */
  display: flex;
  flex-direction: column;
  height: 500px;
  max-height: 500px;
  overflow: auto;
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
}
.my-row{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.my-msg{
  width: 45%;
  background-color: pink;
  color: #46516e;
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}
.left-row{
  justify-content: flex-start;
}
.left-msg{
  width: 45%;
  background-color: transparent;
  color: lightgray;
  border: 1px solid lightgray;
  padding: 10px;
  color: black;
  margin-left: 5px;
  text-align: center;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}